@CHARSET "UTF-8";

.sidebar #fb-like {
    margin-left: 110px;
}

#sign_result { font: 1em Arial, Helvetica, sans-serif; color: #0a284f; padding: 0 1em 0 1em; }
#sig_count { font: 1em Arial, Helvetica, sans-serif; color: #008000; padding: 0 1em 0 1em; }
