@charset "utf-8";

.sidebar #fb-share img {
	display: block;
	margin: 16px 72px 0 auto;
	border: none;
	float: none;
}

.sidebar #fb-like {
	display: block;
	margin-left: 90px;
	border: none;
	float: none;
}

#sign_result_box {
	padding: 1em;
    width: 300px;
    height: 48px;

}

#sign_result {
	font: 1.2em Arial, Helvetica, sans-serif;
	color: #0a284f;
}

#sig_count {
	font: 1.6em Arial, Helvetica, sans-serif;
	color: #008000;
}

h3.petition_title a {font-family: 'RockwellRegular', Tahoma, Helvetica; font-weight: normal; text-align: center; font-size: 20px; color: #00514b; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6); padding: 0 0 10px 0; margin: 0;}
/** unused
#reg_error {
    float: left;
    display: block;
    font: bold 0.8em Arial, Helvetica, sans-serif;
    color: #c60c0c;
    width: 230px;
    margin-right: 5px;
    padding-top: 5px;
    margin-top: 23px;
    text-align: right;
    height: 100%;
}
**/
